@media only screen and (max-width: 778px) {
    header {
        justify-content: center!important;
    }
    header h1 {
        font-size: 17px;
    }
    header h1:nth-child(2) {
        margin-top: 16px;
    }
    header h1 strong::after {
        border-bottom: 0;
    }
    .input-group {
        width: 90%;
    }
    .pagination li a {
        border: 1px solid var(--primary-color);
        font-size: 15px;
        width: 20px;
        height: 20px;
        border-radius: 50%;
    }
    .hide-mobile {
        display: none!important
    }
    .show-on-mobile {
        display: block;
    }
    th:not(:last-of-type) {
        border-right: 0;
    }
    main {
        padding: 0;
    }
    .input-group {
        margin-top: 26px;
        padding: 0 10px;
    }
    .input-group input[type="text"] {
        padding: 0 10px;
    }
    table {
        margin-top: 20px;
    }
    tbody>tr {
        border-bottom: 1px solid #D52027;
    }
}