@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');
html {
    font-family: 'Roboto', sans-serif;
    --primary-color: #D52027;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
    padding: 34px 42px 0;
}

.overlay {
    z-index: 2;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    position: fixed;
    width: 100vw;
    height: 100vh;
}

.overlay>h1 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4vw;
    color: #ffffff;
}

header {
    padding: 20px 42px 0;
}

header h1 {
    color: var(--primary-color);
    font-size: 30px;
    font-weight: 100;
}

header h1 strong {
    font-weight: 800;
    position: relative;
    width: 100%;
}

header h1 strong::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    border-bottom: 4px solid var(--primary-color);
    width: 54px;
}

footer {
    border-bottom: 10px solid var(--primary-color);
}

.pagination {
    margin: 16px 0;
}

.pagination li:not(:first-of-type) {
    margin: 0 10px;
    cursor: pointer;
    transition: all .5s ease;
}

.pagination li:not(:first-of-type):hover {
    margin: 0 10px;
    cursor: pointer;
    transform: translateY(-5px);
    transition: transform .5s ease;
}

.pagination li:first-child {
    margin-right: 12px;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid var(--primary-color);
}

.pagination li:last-child {
    margin-left: 12px;
    width: 0;
    height: 0;
    border: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid var(--primary-color);
    border-radius: initial;
}

.pagination li a {
    text-decoration: none;
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.pagination li a:hover,
.pagination li a.active {
    color: #ffffff;
    background-color: var(--primary-color);
}

.disable-click {
    pointer-events: none;
    opacity: .5;
}

.flex {
    display: flex;
}

.flex.flex-direction-row {
    flex-direction: row;
}

.flex.justify-center {
    justify-content: center;
}

.flex.justify-between {
    justify-content: space-between;
}

.flex.align-center {
    align-items: center;
}

.flex.flex-wrap {
    flex-wrap: wrap;
}

.input-group {
    position: relative;
    width: 400px;
}

.input-group input[type=text] {
    position: relative;
    display: block;
    width: 100%;
    height: 31px;
    padding: 0.375rem 0.75rem;
    font-size: 0.875em;
    font-weight: 300;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #d1d8e0;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.input-group input[type=text]:not(:placeholder-shown)~label,
.input-group input[type=text]:focus~label {
    top: -8px;
    left: 1px;
    font-size: 0.6875em;
    font-weight: 300;
    color: var(--primary-color);
    transition: all ease 0.5s;
}

.input-group input[type=text]:not(:placeholder-shown) {
    border-color: var(--primary-color);
}

.input-group label {
    position: absolute;
    top: 50%;
    left: 13px;
    color: #9E9E9E;
    font-size: 0.875em;
    font-weight: 300;
    z-index: 1;
    transform: translate(0, -50%);
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -ms-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;
}

table,
th,
td {
    border: none;
}

th:nth-child(1) {
    width: 25%;
}

th:nth-child(2) {
    width: 75%;
}

table {
    width: 100%;
    display: table;
    background-color: #ffffff;
    font-weight: 400;
    color: #282828;
    margin-top: 34px;
}

thead {
    border-bottom: 1px solid #d0d0d0;
}

thead>tr {
    color: #ffffff;
    background-color: var(--primary-color);
}

tbody>tr {
    border-bottom: 2px solid #ffb6b9;
}

tbody>tr:hover {
    background-color: #fff0f1;
    cursor: pointer;
}

td,
th {
    padding: 20px;
    display: table-cell;
    text-align: left;
    vertical-align: middle;
    margin: 0 5px;
    border-right: 10px solid transparent;
}

th:not(:last-of-type) {
    border-right: 10px solid #ffffff;
}

.profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.show-on-mobile {
    display: none;
}

.hero-name {
    margin-left: 10px;
    font-size: 20px;
    color: #4c4c4c
}

.hide {
    display: none;
}

.back-hero-list {
    border: 0;
    background-color: #d52027;
    color: #fff;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 2px;
    margin: 0 auto;
    display: block;
}

.back-hero-list:hover {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.card {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    padding: 24px;
    margin: 0.5rem 0 1rem 0;
    border-radius: 2px;
    background-color: #fff;
}

.hero-details-header img {
    width: 100px;
    height: auto;
    max-width: 50%;
    float: left;
    padding: 0 10px 0;
}

.hero-details-header .hero-details-name {
    text-transform: uppercase;
    font-size: 20px;
    color: #3e3a3a;
    font-weight: 400;
    margin-left: 10px;
}

.hero-details-header .hero-details-name::first-letter {
    color: #d52027;
    font-size: 40px;
}

.hero-details-header .hero-details-desc {
    margin-left: 10px;
    font-size: 14px;
    color: #868686;
    margin-top: 10px;
    line-height: 20px;
}

.video-container {
    overflow: hidden;
    position: relative;
    width: 500px;
    max-width: 90%;
    margin-top: 20px;
    margin: 30px auto;
}

.video-container::after {
    padding-top: 56.25%;
    display: block;
    content: '';
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.hero-details-classificacao {
    font-size: 15px;
    color: #2b2b2b;
}

.hero-details-classificacao>span {
    color: #d52027;
    font-weight: 700;
    font-size: 18px;
}

.hero-info {
    background-color: #f1f1f1;
    padding: 6px 4px;
}